.header {
    background-color: rgba(64, 131, 197, 0.9);
    color: orange;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}
html {
    height: 100%;
    width:100%;
    top:0;
}
.body {
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.quiz {
    z-index: 0;
}