body {
    min-width:100vw;
    background-color: rgb(212, 212, 233);
}
.header {
    background-color: #fbfbfb;
}
.quiz {
    height: 500px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(212, 212, 233);
}
.options {
    cursor: pointer;
    width: 60%;
    background: #fbfbfb;
    border-radius: 20px;
}
.sublimt{
    text-align: center;
}
.btn {
    width: 20%;
    min-width: 110;
}
.Result-titleAC {
    color:red;
    font-size: 40px;
}
.Result-titleNotAC {
    color:blue;
    font-size: 40px;
}